{% extends "index.html" %}

{% block content %}
    <h1>{{ page.title }} {{ config.title }}</h1>
    ● ⏰︎<i> Push time：{{ page.date | date(format="%Y-%m-%d %H:%m:%S") }}</i>
    <hr align=center color=#987cb9 size=4>
    
    <!-- 引入目录 -->
    <div class="sidebar" id="sidebar">
        <ul id="toc"></ul>
    </div>


    <div class="content">
        {{ page.content | safe }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // 清空侧边栏目录列表
            var headings = $('#toc').empty();
            var count = 0;
            $(document.body).find("h1, h2, h3, h4, h5, h6").each(function() {
                var title = $(this).text();
                var id = $(this).attr('id');
                var listItem = '<li><a href="#' + id + '">' + title + '</a></li>';
                
                if (count >= 1) {
                    headings.append(listItem);
                }
                count++; // 增加计数器
            });

            // 如果目录列表为空，则不显示侧边栏
            if (headings.is(':empty')) {
                $('#sidebar').hide(); // 隐藏侧边栏
            } else {
                // 如果目录不为空，添加目录标题并显示侧边栏
                headings.prepend('<h2>文章目录</h2>');
                $('#sidebar').show(); // 显示侧边栏
            }
        });
    </script>

    
{% endblock content %}


{% block prev_link %}
    {% if page.smaller %}
        <a class="previous" href="{{ page.smaller.permalink | safe }}"><</a>
    {% else %}
        {# No page before, find the link for the section it's in if there is one #}
        {% set parent = get_section(path=page.ancestors | reverse | first) %}
        <a class="previous" href="{{ parent.permalink | safe }}"><</a>
    {% endif %}
{% endblock prev_link %}

{% block next_link %}
    {% if page.higher %}
        <a class="next" href="{{ page.higher.permalink | safe }}">></a>
    {% else %}
        {# No page after, find the link for the following section #}
        {% set index = get_section(path="_index.md") %}
        {% set found_current = false %}
        {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            {% if found_current %}
                <a class="next" href="{{ subsection.permalink | safe }}">></a>
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
            {% for p in subsection.pages %}
                {% if p.permalink == page.permalink %}
                    {% set_global found_current = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock next_link %}
